<section id="portfolio">
    <h5>My Recent Work</h5>
    <h2>Projects</h2>

    <div class="container portfolio__container">
        <article class="portfolio__item">
            <div class="portfolio__item-image">
                <img src="./assets/portfolio7.jpg" alt="portfolio1">
            </div>
            <h3>Contract Management</h3>
            <div class="portfolio__item-cta">
                <p>Contract Management helps to make contracts between two organizations. They can track and trace the contract at every step and this is based on blockchain technology.</p>
                <!-- <a href="https://github.com" class="btn" target="_blank" [class.disabled]="true">Github</a> -->
                <!-- <a href="https://github.com" class="btn btn-primary" target="_blank" [class.disabled]="true">Live Demo</a> -->
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfolio__item-image">
                <img src="./assets/portfolio8.png" alt="portfolio1" class="portfolio-image">
            </div>
            <h3>Security Interest Information Exchange Platform</h3>
            <div class="portfolio__item-cta">
                <p>The platform is a multi-party platform, where the security interest details flow from the borrower to the lender, and the credit bureau furnishes the credit check details . The project aims to create a gold standard in institutional lending by establishing a single source of truth for collateral information among borrowers like non-banking financial companies, called NBFCs, institutional lenders and credit bureaus.</p>
                <!-- <a href="https://github.com/skjinagal/eTickets" class="btn" target="_blank">Github</a> -->
                <!-- <a href="https://moviesetickets.azurewebsites.net/movies" class="btn btn-primary" target="_blank">Live Demo</a> -->
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfolio__item-image">
                <img src="./assets/portfolio9.png" alt="portfolio1">
            </div>
            <h3>ExxonMobil</h3>
            <div class="portfolio__item-cta">
                <p>This project records the emissions at every step in oil and gas supply chain. It records from production to distribution. Regulator entity is also there in network who can see all emissions and analyse or take decisions based on these emissions. Regulator can also predict the amount of reduction in emissions.</p>
                <!-- <a href="https://github.com" class="btn" target="_blank" [class.disabled]="true">Github</a> -->
                <!-- <a href="https://github.com" class="btn btn-primary" target="_blank" [class.disabled]="true">Live Demo</a> -->
            </div>
        </article>
        
    </div>
</section>
